body
{
    margin: 0%;
}

/* this is the beginning of page 1 */

.firstpage
{
    background-color: #27C0EF;
    /* background-color: linear-gradient(right,#27C0EF, #00A8DB); */
    height: 100vh;
    padding-top: 30px;
    padding-left: 100px;
    
}
.heading
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
}
.divdroite
{
    display: flex;
    gap: 45px;
    align-items: center;
}
.logo
{
    height: 25px;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/images/page1/Logo.png);
}

.dm-sans-<uniquifier>
{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.head
{
    color: white;
    font-size: small;
    font-family: DM Sans;
    font-weight: 500;
}
.down_arrow
{
    height: 5.5px;
    width: 7.5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/images/page1/angle-down.svg);
}
.landings
{
    display: flex;
    align-items: center;
    gap: 2px;
}
.pages
{
    display: flex;
    align-items: center;
    gap: 2px;
}
.login
{
    color: white;
    background-color: #005490;
    border-radius: 5px;
    height: 30px;
    width: 75px;
    border: none;
    /*for the text written inside*/
    color: white;
    font-size: small;
    font-family: DM Sans;
    font-weight: 500;
}
.DM_sans
{
    font-family: DM sans;
}
.white
{
    color: white;
}
.big
{
    font-size: 350%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.main1
{
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    padding-right: 0%;
}

.line
{
    height: 35px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/images/page1/Vector.png);
    margin-top: 0%;
    padding-top: 0%;
}
.stats
{
    height: 800px;
    width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/images/page1/Group\ 19.png);
    position: absolute;
    z-index: 2;
}
.cercle
{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/images/page1/Shape.png);
    position: absolute;
    z-index: 1;
}
.left1
{
    position: relative;
    width: 800px; 
    height: 800px;
}
.two_elements
{
    display: flex;
    gap: 30px;
}
.seehow_button
{
    color: #27C0EF;
    background-color: white;
    border-radius: 4px;
    height: 50px;
    width: 175px;
    border: none;
}

.side_arrow
{
    height: 10px;
    width: 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assets/images/page1/Arrow\ 1.png);
}
.free_demo
{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* this is the beginning of page 2 */

.secondpage
{
    display: flex;
    flex-direction: column;
    gap: 175px;
}
.main2
{
    display: flex;
    gap: 150px;
    justify-content: center;
    padding-bottom: 100px;
}
.logos
{
    display: flex;
    justify-content: space-evenly;
    padding-top: 120px;
}
.image
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slack
{
    height: 38.18px;
    width: 132.47px;
    background-image: url(./assets/images/page2/slack.png);
}

.netflix
{
    height: 30.83px;
    width: 115.7px;
    background-image: url(./assets/images/page2/netflix.png);
}
.google
{
    height: 38.12px;
    width: 115.74px;
    background-image: url(./assets/images/page2/google.png);
}

.airbnb
{
    height: 36.01px;
    width: 115.71px;
    background-image: url(./assets/images/page2/airbnb.png);
}

.uber
{
    height: 24.7px;
    width: 115.82px;
    background-image: url(./assets/images/page2/uber.png);
}

.phones
{
    height: 550.85px;
    width: 494px;
    background-image: url(./assets/images/page2/Group\ 21.png);
}
.dotted_arrow
{
    height: 781.45px;
    width: 424.4px;
    background-image: url(./assets/images/page2/Group\ 21.png);
    
}
.dark_blue
{
    font-size: 36px;
    color: #034D82;
}
.parag
{
    color: #90A3B4;
    font-size: 16px;
    font-weight: 400;
}
.text2
{
    color: #04AADD;
}
.side_arrow_blue
{
    height: 10px;
    width: 15px;
    background-image: url(./assets/images/page2/Arrow\ 3.svg);
}
.go_to
{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* this is the beginning of page 3 */
.thirdpage
{
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 150px;
}
.check_icon
{
    height: 17px;
    width: 17px;
    background-image: url(./assets/images/page3/feather_check-circle.png);
}
.first
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.laptop
{
    height: 450px;
    width: 700px;
    background-image: url(./assets/images/page3/Device\ -\ Macbook\ Pro.png);
}

/* this is the beginning of page 4 */
.fourthpage
{
    background-color: #EFFBFF;
    height: 90vh;
}
.center_head
{
    padding-top: 75px;
}
.center 
{
    text-align: center;
}
.four_divs
{
    display: flex;
    gap: 40px;
    padding-left: 175px;
    padding-top: 50px;
}
.element
{
    background-color: white;
    border-radius: 4%;
    height: 225px;
    width: 200px;
    padding: 30px;
}
.red
{
    height: 56px;
    width: 56px;
    background-image: url(./assets/images/page4/red.png);
}
.blue
{
    height: 56px;
    width: 56px;
    background-image: url(./assets/images/page4/blue.jpg);
}
.yellow
{
    height: 56px;
    width: 56px;
    background-image: url(./assets/images/page4/yellow.jpg);
}
.green 
{
    height: 56px;
    width: 56px;
    background-image: url(./assets/images/page4/green.png);
}

.dark_blue2
{
    color: #034D82;
    font-size: 20px;
}

.parag4
{
    color: #8EA9C1;
    font-size: 15px;
}

/* this is the beginning of page 5 */
.fifthpage
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 175px;
}
.right5
{
    display: flex;
}
.left_arrow
{
    height: 20px;
    width: 20px;
    background-image: url(./assets/images/page5/feather_chevron-right.svg);
    align-items: end;
}
.quotes
{
    height: 30px;
    width: 41px;
    background-image: url(./assets/images/page5/“.png);
}
.pic_one
{
    height: 204px;
    width: 442px;
    background-image: url(./assets/images/page5/Group\ 38.png);
}
.cercle_bleu
{
    height: 10px;
    width: 10px;
    background-image: url(./assets/images/page5/Ellipse\ 2.svg);
}

.cercle_grey
{
    height: 10px;
    width: 10px;
    background-image: url(./assets/images/page5/Ellipse\ 4.svg);
}
.cercles
{
    display: flex;
    gap: 5px;

}
.pics
{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.right_arrow
{
    height: 170px;
    width: 170px;
    background-image: url(./assets/images/page5/Group\ 40.png);
}

/* this is the beginning of page 6 */
.sixthpage
{
    background-color: #01B8D9;
    margin: 200px;
    padding: 50px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emoji
{
    height: 32px;
    width: 34.17px;
    background-image: url(./assets/images/page6/emoji.jpg);
}
.h1_emoji
{
    display: flex;
    align-items: end;
}

.rond
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -10px;
    box-shadow: 0px 0px 1px 4px white;
}
.fivepics
{
    display: flex;
}
.pic1
{
    background-image: url(./assets/images/page6/img1.png);
}
.pic2
{
    background-image: url(./assets/images/page6/img2.png);
}
.pic3
{
    background-image: url(./assets/images/page6/img3.png);
}
.pic4
{
    background-image: url(./assets/images/page6/img4.png);
}
.pic5
{
    background-image: url(./assets/images/page6/img5.png);
}
.fivepics_andothers
{
    display: flex;
    gap: 20px;
}

.trial_button
{
    height: 57px;
    width: 204px;
    background-color: white;
    border: none;
    border-radius: 0.3rem;
    color: #01B8D9;
    margin-right: 100px;
}

/* this is the beginning of page 7 */
.seventhpage
{
    background-color: #081315;
    height: 521px;
    padding-left: 200px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.top{
    display: flex;
    gap: 80px;
    align-items: center;
}
.bottom
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description
{
    display: flex;
    gap: 80px;
}
.space
{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.part1
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.color
{
    color: #D3D6D8;
    font-size: 16px;
}
.rond2
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.google_logo
{
    background-image: url(./assets/images/page7/google.png);
}
.twitter_logo
{
    background-image: url(./assets/images/page7/twitter.png);
}
.insta_logo
{
    background-image: url(./assets/images/page7/insta.png);
}
.linkedin_logo
{
    background-image: url(./assets/images/page7/linkedin.png);
}
.social_media
{
    display: flex;
    gap: 10px;
}

h3
{
    color: white;
}
.grey
{
    color: #D3D6D8;
}

.heart
{
    background-image: url(./assets/images/page7/Heart.png);
}
.rond3
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.middle
{
    text-align: center;
}

